.loading-screen {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
}

.loading-screen .bar {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #16a748;
}

.loading-screen .top-bar {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
}

.loading-screen .down-bar {
  bottom: 0;
  top: auto;
  right: 0;
  left: auto;
}

.loading-screen .animation-preloader {
  z-index: 1000;
  position: relative;
}

.loading-screen .animation-preloader .spinner {
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 4px dotted #e2dfdd;
  border-top: #1f212b;
  width: 150px;
  height: 150px;
  margin: 0 auto 3.5em auto;
  mix-blend-mode: difference;
}

.loading-screen .animation-preloader .txt-loading {
  font: bold 6em 'Nunito Sans', sans-serif;
  letter-spacing: 0.2em;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loading-screen .animation-preloader .txt-loading .letters-loading {
  color: #fff;
  position: relative;
}

.loading-screen .animation-preloader .txt-loading .letters-loading:before {
  -webkit-animation: letters-loading 4s infinite;
  animation: letters-loading 4s infinite;
  color: #02c0bc;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  top: -3px;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.loading-screen
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(2):before {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loading-screen
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(3):before {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loading-screen
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(4):before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.loading-screen
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(5):before {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.loading-screen
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(6):before {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.loading-screen
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(7):before {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.loading-screen
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(8):before {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .loading-screen .animation-preloader .spinner {
    height: 8em;
    width: 8em;
  }

  .loading-screen .animation-preloader .txt-loading {
    font: bold 3.5em 'Nunito Sans', sans-serif;
  }
}

@media screen and (max-width: 500px) {
  .loading-screen .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  }

  .loading-screen .animation-preloader .txt-loading {
    font: bold 2em 'Nunito Sans', sans-serif;
  }
}

.loader {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-35%, 77px);
}

.loader {
  --w: 10ch;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.4em;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
    calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
    calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
    calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
    calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  animation: l20 2s infinite linear;
  font-family: 'Nunito Sans', sans-serif;
}
.loader:before {
  content: 'Loading...';
}

@keyframes l20 {
  9.09% {
    text-shadow: calc(0 * var(--w)) -10px #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  18.18% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) -10px #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  27.27% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) -10px #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  36.36% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) -10px #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  45.45% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) -10px #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  54.54% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) -10px #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  63.63% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) -10px #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  72.72% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) -10px #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) 0 #fff;
  }
  81.81% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) -10px #fff, calc(-9 * var(--w)) 0 #fff;
  }
  90.90% {
    text-shadow: calc(0 * var(--w)) 0 #fff, calc(-1 * var(--w)) 0 #fff,
      calc(-2 * var(--w)) 0 #fff, calc(-3 * var(--w)) 0 #fff,
      calc(-4 * var(--w)) 0 #fff, calc(-5 * var(--w)) 0 #fff,
      calc(-6 * var(--w)) 0 #fff, calc(-7 * var(--w)) 0 #fff,
      calc(-8 * var(--w)) 0 #fff, calc(-9 * var(--w)) -10px #fff;
  }
}

.load {
  position: relative;
}

.load:before,
.load:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.load:before {
  animation: before 2s infinite;
}

.load:after {
  animation: after 2s infinite;
}

@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75),
      0 0.5em rgba(111, 202, 220, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75),
      1em 0.5em rgba(111, 202, 220, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75),
      -0.5em 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75),
      -0.5em 1em rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}
